In [1]:
import torch
import torch.nn as nn
import torch.nn.functional as F

from torch.utils.data import Dataset, DataLoader

import torchvision.transforms as transforms

import os
import pandas as pd
import numpy as np

import cv2

In [2]:
device = torch.device('cuda') if torch.cuda.is_available() else torch.device('cpu')
print(device)

cuda

In [3]:
cfg = {
    'image_size' : 224,
    'epochs' : 100,
    'lr' : 1e-3,
    'batch_size' : 128,
    'seed' :2023
}

In [4]:
data_dir = './../../data/4d-block/'
df = pd.read_csv(os.path.join(data_dir, 'train.csv'))
df['img_path'] = (data_dir + df['img_path'].str[2:])
df = df.sample(frac=1).reset_index(drop=True)

In [5]:
df.head()

,id,img_path,A,B,C,D,E,F,G,H,I,J
0,TRAIN_19088,./../../data/4d-block/train/TRAIN_19088.jpg,0,0,1,0,1,1,0,1,1,1
1,TRAIN_12210,./../../data/4d-block/train/TRAIN_12210.jpg,0,1,0,1,1,0,1,1,0,0
2,TRAIN_27956,./../../data/4d-block/train/TRAIN_27956.jpg,1,0,1,1,0,1,0,0,0,0
3,TRAIN_08886,./../../data/4d-block/train/TRAIN_08886.jpg,1,1,0,1,0,1,0,1,0,0
4,TRAIN_25336,./../../data/4d-block/train/TRAIN_25336.jpg,1,0,0,0,0,0,1,0,0,1

In [6]:
train_len = int(len(df)*0.8)
train = df[:train_len]
train_label = train.iloc[:,2:].values
val = df[train_len:]
val_label = val.iloc[:,2:].values

In [7]:
data_transforms = {
    'train' : transforms.Compose([
        transforms.Resize([256, 256]),
        transforms.RandomHorizontalFlip(),
        transforms.RandomVerticalFlip(),
        transforms.RandomCrop(224),
        transforms.ToTensor()
    ]),
    'val' : transforms.Compose([
        transforms.Resize([256, 256]),
        transforms.RandomCrop(224),
        transforms.ToTensor()
    ])
}

In [8]:
df.head(2)

,id,img_path,A,B,C,D,E,F,G,H,I,J
0,TRAIN_19088,./../../data/4d-block/train/TRAIN_19088.jpg,0,0,1,0,1,1,0,1,1,1
1,TRAIN_12210,./../../data/4d-block/train/TRAIN_12210.jpg,0,1,0,1,1,0,1,1,0,0

In [9]:
image = cv2.imread(df.iloc[0,1])

In [10]:
image.shape

(400, 400, 3)

In [ ]:
class making_ds:
    
    def __init__(self, data, transform = 'val'):
        self.data = data
        self.transform = transform
    
    def __getitem__(self, index):
        img_path = data.iloc[index, 1]
        image = cv2.imread(img_path)
        
        image =

In [26]:
df.iloc[:,2:].values

array([[0, 0, 1, ..., 0, 0, 0],
       [1, 0, 1, ..., 0, 0, 0],
       [0, 1, 0, ..., 1, 0, 1],
       ...,
       [1, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 1],
       [0, 0, 0, ..., 0, 0, 1]], dtype=int64)

In [ ]:
model_cfg = {
    'layer1' : {
        'conv2d_in'
    }
}